* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 3rem;
    color: #00408F;
}
h2 {
    font-size: 2rem;
    color: #FFFFFF;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: center;
}
section {
    background: rgba(17, 0, 253, 0.76);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.664);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 90%;
    height: 350px;
    border-radius: 20px;
    color: #FFFFFF;
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5% 5% 0 5%; 
}
form {
    width: 70vw;
    display: flex;
    flex-direction: column;
}
p {
    font-size: 2rem;
    height: 25px;
}
/* section form label {
    display: flex;
    justify-content: center;
} */
section form label span {
    font-size: 2rem;
    text-align: center;
    display: flex;
}
input {
    border-radius: 5px;
    background-color: #00408F;
    color: white;
    border: 0;
    height: 3rem;
    padding: 1rem;
}
.lados-square {
    display: flex;
    padding: 1.5rem 0 1.5rem 0;
    justify-content: space-evenly;
}
.lados-square input {
    width: 150px;
}
.lados-triangle {
    display: flex;
    padding: 1.5rem 0 1.5rem 0;
    justify-content: space-evenly;
}
.lados-triangle input {
    width: 60px;
}
.lados-circle {
    display: flex;
    padding: 1.5rem 0 1.5rem 0;
    justify-content: space-evenly;
}
.lados-circle input {
    width: 150px;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
}
section form div button {
    border-radius: 5px;
    background-color: #2A7ADB;
    color: white;
    border: 0;
    height: 3rem;
    padding: 1rem;
    width: 100px;
}